body{margin:0;font-family:Segoe UI,Arial;background:#f5f7fb;overflow: hidden;}
.header{background:#0b5ed7;color:white;padding:14px;text-align:center;}
#map{height:45vh;}
.panel{background:white;padding:14px;}

table{width:100%;border-collapse:collapse;margin-top:10px;}
th{background:#eef3ff;padding:8px;}
td{padding:8px;text-align:center;border-bottom:1px solid #eee;}
.activePrayer{background:#ffd54f;font-weight:bold;}

button{
padding:8px;margin:3px;border:none;
background:#0b5ed7;color:white;border-radius:6px;
}

/* KOMPAS */
#compassPro{
position:relative;
width:260px;height:260px;
margin:20px auto;border-radius:50%;
border:6px solid #333;background:#fff;
}

.compass-ring{
position:absolute;width:100%;height:100%;
background:conic-gradient(#ccc 0deg 1deg,transparent 1deg 10deg);
border-radius:50%;
}

.dir{position:absolute;font-weight:bold;}
.north{top:8px;left:50%;transform:translateX(-50%);}
.south{bottom:8px;left:50%;transform:translateX(-50%);}
.east{right:8px;top:50%;transform:translateY(-50%);}
.west{left:8px;top:50%;transform:translateY(-50%);}

#needle{
position:absolute;width:4px;height:110px;
background:red;top:20px;left:50%;
transform-origin:50% 85%;
}

#qiblaArrow{
position:absolute;width:6px;height:120px;
background:green;top:15px;left:50%;
transform-origin:50% 90%;
}

#compassPro::after{
content:"";position:absolute;width:12px;height:12px;
background:#000;border-radius:50%;
top:50%;left:50%;transform:translate(-50%,-50%);
}

.directionArrow{
border-left:10px solid transparent;
border-right:10px solid transparent;
border-bottom:20px solid red;
}

/* MASJID */
#masjidMode{
display:none;position:fixed;width:100%;height:100%;
background:black;color:white;text-align:center;
padding-top:40px;
}

#masjidClock{font-size:120px;}

/* MODAL */
#monthlyModal{
background:rgba(0,0,0,0.6);
}

/* container scroll */
.modalScroll {
height: 100%;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
padding: 20px;
}

.modalContent {
background: white;
margin: auto;
padding: 20px;
max-width: 900px;
border-radius: 10px;
}

.masjidScroll {
height: 100%;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
padding: 20px;
}
