body{
background:#0f172a;
color:white;
font-family:system-ui;
}

#map{
height:500px;
border-radius:10px;
}

#windCanvas{
position:absolute;
top:0;
left:0;
pointer-events:none;
}

.safe{color:#4ade80}
.notsafe{color:#f87171}
